html{
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
    background-color: #E59998;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: rgba(54,32,180,0.692);
    text-shadow: 10px 5px 2px #538790;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: rgba(54,32,180,0.692);
}
 h3 {
     font-size: 30px;
     text-align: center;
     margin: 21px;
     color: #538790;
 }

 p {
     font-size: 20px;
     text-align: center;
     color: #033749;
     padding: 1em;
 }

 div {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid #033749;
 }



.block {
  display: block;
} 

img {
    display: block;
    margin: 0 auto;
}
